<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <!-- było application jest default w obu poniższych tagach (stylesheet i javascript) -->
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<%= yield %>

</body>
</html>
